
.nav-bar-container {
  padding-top: 20px;
  padding-bottom:  20px;
  width: 100%;
  position: fixed;
  top:0px;
  left:0px;
  background-color: white;
  align-items: center;
  border: 0px;
  border-bottom: 0.5px;
  border-style: solid;
  border-bottom-color: #E80C64;
}

.nav-bar {
  width: 100%;
  align-content: center;
}

.nav-bar-objects {
  display: inline-flex;
  border: 0px;
  border-left: 1px;
  border-style: solid;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-bar-objects-first {
  display: inline-flex;
  border: 0px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-bar-text{
  text-decoration: none;
  color: #E80C64;
  align-self: center;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}
